.cuadroLateral{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}
.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
}
.nombre{
    padding: 1rem;
    font-size: 3rem;
    font-weight: 600;
}