.header{
    grid-column-start: 1;
    grid-column-end: 3;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    width: 100%;

}

.log{
    background-color: skyblue;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;

    font-size: 2rem;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    width: 90%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

nav div{
    width: 10rem;
    height: 3.5rem;
    background-color: skyblue;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
}

nav div:hover{
    transition: 0.5s;
    background-color: rgb(60, 118, 141);

}

.menu{
    display: none;
}

.btn{
    width: 10rem;
    height: 3.5rem;
    background-color: skyblue;
    color: black;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-weight: 600;
}

.btn:hover{
    transition: 0.5s;
    background-color: rgb(60, 118, 141);

}