@media screen and (min-width: 375px)  and (max-width: 480px) {
    .root {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        background-color: red;
        width: 100%;
        height: 5rem;

    
    }
    
    .log{
        background-color: #C6C6C8;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 100%;
    
    
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    nav{
        display: none;
    }

    .btn{
        display: none;
    }

    .menu{
        display: flex;
    }

    .cuadroLateral{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .info{
        background-color: yellow;
        width: 100%;
    }

    .nombre{
        font-size: 1rem;
    }

    .contenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30rem;
        height: 10rem;
    }

}